@page "/posts"
@using BlazorApp.Services
@using Entities
@inject IPostService PostService

<h3>All Posts</h3>

@if (posts == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var post in posts)
        {
            <li>
                <a href="/post/@post.Id">@post.Title</a> by @post.UserId
            </li>
        }
    </ul>
}

@code {
    private List<Post>? posts;

    protected override async Task OnInitializedAsync()
    {
        posts = await PostService.GetManyAsync();
    }
}